@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eceada;
  --foreground: #325847;
  --menu: #eceada;
  --menuText: #325847;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eceada;
    --foreground: #325847;
    --menu: #eceada;
    --menuText: #325847;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    border-radius: 50px;
    background: #506c60;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #506c60;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #E07C3E;
    border-radius: 50px;
  }
}

.prevent-clicks {
  pointer-events: none;
}